body {
  font-family: 'Open Sans Condensed', Arial, Helvetica, sans-serif;  
  padding: 20px 60px;
}

html {
  overflow: scroll;
}

a {
  color: black;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}